*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.navbar{
    background-color: transparent;
}

.navbar-elements{
    opacity: 0.6;
}
.navbar-elements:hover{
    opacity: 1;
}
.navbar-elements:active{
    opacity: 1;
}

.navbar-dark{
    background-color: #20232a;
}