*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #fff;
}

.navbar{
    background-color: transparent;
}

.navbar-elements{
    opacity: 1;
}
.navbar-elements:hover{
    opacity: 1;
}
.navbar-elements:active{
    opacity: 1;
}

.navbar-dark{
    background-color: #20232a;
}
.dark{
    background-color: #000;
}
.card-text{
    font-size: 1.3em;
    line-height: 2em;
    font-style: oblique;
}
.card-title {
    font-size: 1.4em;
}
.card-header{
    font-size: 1.2em;
}
.titleBar{
    font-size: 2.2em;
}
